.comment-container
  .comment-header
    .comment-author
      = comment.user.full_name
    .comment-delete
      - if current_user == @post.user
        = link_to post_comment_path(@post, comment), method: :delete do
          %i.fas.fa-minus-circle
  .comment-body
    = comment.body