%header
  .container
    .p-2
    %nav.navbar.navbar-expand-sm
      .navbar-brand.text-30.text-w-600.text-white
        Fractal View
      %ul.navbar-nav.ml-auto
        %li.nav-item.nav-item-link
          = link_to "Приложение", '#'
        %li.nav-item.nav-item-link
          = link_to "Работы пользователей", '#'
        %li.nav-item.nav-item-link
          = link_to "Автор", '#'
        %li.nav-item
          = link_to "Вход", '#', class: "btn btn-outline-primary btn-lg btn-w-100"




