.row
  .col-sm-8
    = render partial: "posts/shared/post", collection: @posts
    .d-flex.justify-content-center
      = paginate @posts, theme: 'twitter-bootstrap-4'

  .col-sm-4
    .p-4
    = link_to "Новый пост", new_post_path, class: 'btn btn-primary btn-lg btn-block btn-create-post'