.row
  .col-sm-4
    .py-100
    = render partial: "accounts/shared/left_menu"

  .col-sm-8
    .p-5
    .d-flex.mb-4
      = link_to "Отметить все прочитанным", account_notifications_read_path, class: "btn btn-primary ml-auto"

    = render partial: "accounts/shared/notification", collection: @notifications
    .d-flex.justify-content-center
      = paginate @notifications, theme: 'twitter-bootstrap-4'